<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
    <h1>All posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="/post/{{ post.id }}">{{ post.title }}</a>
                (created by: {{ post.author }} {{ post.created }})
            </li>
        {% else %}
            <li>No posts yet</li>
        {% endfor %}
    </ul>

    <br>
    <h1>New post</h1>
    <form action="/posts/create" method="post">
        Title: <input type="text" name="title" required><br>
        Author: <input type="text" name="author" required><br>
        Content: <textarea name="content"></textarea><br>
        <button type="submit">Post</button>
    </form>
</body>
</html>